@import "bourbon/bourbon";
@import "fonts/_fonts.scss";
// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//

//
//MIX-INS
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin border-radius ( $value: 3px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}
//
#header {
  //background-color: #6D1130;

  background: linear-gradient(to bottom, #8b1e41 0%, #6a102e 100%);
}
article .l-header {
  background: #fff !important;

}
.l-content h1 {
  text-align: center;
  font-weight: 200 !important;
  font-weight: lighter !important;
}
.l-main .l-content {
  margin-top: -3em !important;
}

#content .section {
  padding: 1em 2em 2em 2em !important;
}

body {
  padding: 0 !important;
  margin: 0 !important ;
  font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
}

.l-header, .l-footer {
  //width: 100% !important;
  max-width: 100% !important;
  padding: 0.8em;
}
.l-main {
  padding: 2em;
}
.deptWord {
  color: #fff;
  font-size: 0.3em !important;
}
.contentAdminWord {
  color: #aaa;
  font-size: 0.3em !important;
  padding: 0.6em;
}
.site-name {
  color: #fff !important;
  font-size: 2.5em;
  font-weight: 200 !important;
  font-weight: lighter !important;
  margin-left: 1em;
}
.site-name a, .site-name a:visited, .site-name a:link {
  color: #fff !important;
  text-decoration: none;
}
.links {
  margin-left: 2.5em;
}
.storySlider {
  position: relative;
}
.storySliderTitle {
  text-align: center;
  font-weight: 300 !important;
  font-weight: lighter !important;
  font-size: 1.4em;
}
.storySliderBody {
  text-align: justify;
}

#navbar-bar, #navbar-item--2-tray, #navbar-item--3-tray, #navbar-item--4-tray {
  @include opacity(0.9);
}


#navbar-link-admin-content, #navbar-link-admin-structure, #navbar-link-admin-config, #navbar-link-admin-help {
  display: none !important;
}




// ------------------------------------------------ MENU EDITS
/**
 * @file
 * Replaces Drupal core's system.menus.css.
 */
[dir] #main-menu-links, [dir]
.secondary {
  padding-right: 0;
  padding-left: 0;
}
#main-menu-links,
#main-menu-links li,
.secondary,
.secondary li {
  list-style-type: none;
}
#main-menu-links li,
.secondary li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
[dir="ltr"] #main-menu-links li, [dir="ltr"]
.secondary li {
  margin-right: 0.70711em;
}
[dir="ltr"] #main-menu-links li:last-child, [dir="ltr"]
.secondary li:last-child {
  margin-right: 0;
}
[dir="rtl"] #main-menu-links li, [dir="rtl"]
.secondary li {
  margin-left: 0.70711em;
}
[dir="rtl"] #main-menu-links li:last-child, [dir="rtl"]
.secondary li:last-child {
  margin-left: 0;
}
#main-menu-links a {
  text-shadow: none !important;
}
#main-menu-links a,
.secondary a {
  display: inline-block;
  text-decoration: none;
}
#main-menu-links a, #main-menu-links a:link, #main-menu-links a:visited,
.secondary a,
.secondary a:link,
.secondary a:visited {
  color: #999999;
}
#main-menu-links a:active, #main-menu-links a.active, #main-menu-links a:hover,
.secondary a:active,
.secondary a.active,
.secondary a:hover {
  color: #E2DDDB;
}
#main-menu-links a:hover,
.secondary a:hover {
  text-decoration: none;
}

#main-menu-links li {
  border-bottom: 0.35355em solid transparent;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;

}

#main-menu-links > [class*="active"],
#main-menu-links > :hover {
  border-color: #E2DDDB;
}
#main-menu-links > [class*="active"] a,
#main-menu-links > :hover a {
  color: #E2DDDB;
}
#main-menu-links a {
  //padding: 0.35355em 0;
  font-size: 1em;
  font-weight: 200;
}

.secondary {
  margin-top: -1.06066em;
  padding-top: 0.70711em;
}
.secondary a {
  font-weight: 700;
}

/**
 * Markup generated by theme_menu_tree().
 */
.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}
.menu .expanded {
  list-style-image: url('../images/menu-expanded.png?1399128626');
  list-style-type: circle;
}
.menu .collapsed {
  list-style-image: url('../images/menu-collapsed.png?1399128626');
  /* LTR */
  list-style-type: disc;
}
.menu .leaf {
  list-style-image: url('../images/menu-leaf.png?1399128626');
  list-style-type: square;
}
.menu .active {
  color: #E2DDDB;
}

/*
td.menu-disabled {
  background: #ccc;
}
*/

/**
 * Markup generated by theme_links().
 */
.inline {
  display: inline-block;
  margin: 0;
}
[dir="ltr"] .inline, [dir="rtl"] .inline {
  padding: 0;
}
.inline li {
  display: inline-block;
  margin: 0;
  list-style-type: none;
}
[dir="ltr"] .inline li {
  margin-right: 0.35355em;
}
[dir="ltr"] .inline li:last-child {
  margin-right: 0;
}
[dir="rtl"] .inline li {
  margin-left: 0.35355em;
}
[dir="rtl"] .inline li:last-child {
  margin-left: 0;
}

/**
 * Markup generated by theme_breadcrumb().
 */
.breadcrumb {
  margin: 1.5em 0;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
#branding #main-menu-links,
#branding .secondary {
  margin-top: 0;
  margin-bottom: 0;
}
#branding #main-menu-links a,
#branding .secondary a {
  color: #aaa;
  /* todo: change in ux styleguide and remove here */
}
#branding #main-menu-links > [class*="active"] a,
#branding #main-menu-links > :hover a,
#branding .secondary > [class*="active"] a,
#branding .secondary > :hover a {
  color: white;
}
#branding .secondary {
  margin: 0 -2.25em;
  padding: 0.5em 2.25em;
  background-color: #3d3d3d;
}
// ----------------------------------------- END MENU EDITS

.panels-ipe-portlet-wrapper{
  margin-bottom: 1em;
  margin-top: 1em;
}

.panopoly-spotlight img {
  @include border-radius(15px);
}
#name-and-slogan {
  margin-bottom: 2em;
}
#header {
  overflow: hidden;
  padding: 2em 2em 0em 2em;
}
#main-menu-links {
  padding: 0 2em 0 2em !important;
  @include animation-delay(4s);
  @include animation(slide 1.0s ease); //ease-in  , fadeIn 2.0s ease


  @include keyframes(slide) {
   from {
      @include transform(translateY(45px));
    }
    to {
      @include transform(translateY(0px));
    }
  }

}

// long version
/*
.box:hover {
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
}
*/

.box {
  width: 50px;
  height: 50px;
  background: #a20000;
  border-radius: 50%;
}



#navbar-administration .navbar-tray-vertical .navbar-menu ul a {
    padding-left: 3.75em !important;
}

.netit-iframe iframe {
  background-color: #DED7D1 ;
  padding: 2em;
  @include border-radius(15px);
  width: 90% !important;
  height: 15em !important;
}

#site-name a:hover,  #site-name a:link {
  text-decoration: none;
}

#form-builder-wrapper {
  width: 100%;
}

.deptTitile {
  font-size: 0.8em;
  color: #fff;
  padding-left: 1.5em;
  padding-bottom: 0.6em;

  font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
}
.siteEditors {
  font-size: 0.7em;
  color: #938D8E !important;
  padding-left: 0em;
  padding-bottom: 0.6em;

  font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
}

.siteEditors a {
  color: #938D8E !important;
}
.hospUserPic {
  float: left;
  padding: 1em;
}
.hospUserName .username {
  font-size: 1.8em;
  padding-bottom: 0.8em;
  font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
}
.hospUserName {
  margin-top: 0.5em;
}


#site-name {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 200;
   font-size: 2em;

  @include animation(fadeIn 2.0s ease);
  @include keyframes(fadeIn) {
    from {
      @include transform(translateY(0));
      opacity: 0;
    }
    to {
      @include transform(translateY(0));
      opacity: 1;
    }
  }
}
#name-and-slogan {
  padding: 0em !important;
}
#main-menu-links a {
      width: 95%;
}
.panopoly-images-processed {
  float: left;
  padding: 1em;
}
.node-news-slider-story h2 {
  text-align: center;
}


.news-slider-container .node-readmore a {
  background-color: none !important;
}

#main-menu-links a.active, #main-menu-links a {
  background-color: #6D1130 !important;
}


// ==============
//
